[Unit]
Description=API dla testov emulatora
After=network.target station-emulator.service
Requires=station-emulator.service

[Service]
Type=simple
User=akera
WorkingDirectory=/opt/station/src/dut_emulator
ExecStart=/opt/station/.venv/bin/uvicorn station_api:app --host 127.0.0.1 --port 8000
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target